.ChatAreaBox {
  width: 70%;
  height: 100%;
  background-color: #111111;
  flex-direction: column;
}
.Header {
  width: 100%;
  height: 10%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(68, 68, 68);
  z-index: 1000;
}
.Chats {
  position: relative;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 10;
}
.Chats::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1642246457979-a3f0010b6843?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}
.MessageForm {
  border-top: 1px solid rgb(68, 68, 68);
  height: 10%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
