.FormContainer {
  height: 100%;
  width: 100%;
}
.Form {
  width: 100%;
  height: 100%;
}
.Form input {
  width: 80%;
  height: 30px;
  border: none;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.Form button {
  border: none;
  background: none;
  font-size: 30px;
  color: white;
}
